<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boozlapp</title>
</head>

<body>
    <main>
        <div id="app">
            <div id="container">
                <div id="sidebar">
                    <div class="user-account d-flex justify-content-between p-3" style="background-color: #eaeaea;">
                        <div class="user-information">
                            <img src="img/avatar_io.png" alt="">
                            <span style="font-weight: bold;">Martina</span>
                        </div>
                        <div class="user-settings d-flex align-items-center">
                            <a href="#"><i class="fa-solid fa-circle-notch user-icons m-2" style="color: grey;"></i></a>
                            <a href="#"><i class="fa-solid fa-message user-icons m-2" style="color: grey;"></i></a>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical user-icons m-2"
                                    style="color: grey;"></i></a>
                        </div>
                    </div> <!-- end user-account -->
                    <div class="new-notification d-flex align-items-center p-2" style="background-color: #8edafc;">
                        <a href="#"><i class="fa-solid fa-bell-slash"></i></a>
                        <div class="notifications-message">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="#" id="notify">Attiva notifiche desktop</a>
                        </div>
                    </div> <!-- end new-notification -->
                    <div class="container-fluid ms_container-fluid">
                        <form class="d-flex" role="search">
                            <a href="#"><i class="fa-solid fa-magnifying-glass ms_form-icon"></i></a>
                            <input class="form-control me-2 ms_form" type="search"
                                placeholder="Cerca o inizia una nuova chat" aria-label="Search" v-model="search" @keyup="cerca(search)" >
                        </form>
                    </div> <!-- end search-contact-bar -->
                    <div class="contacts-list">
                        <div class="contact-item" @click="active(i)" v-for="(contact,i) in contacts" :key="i" :class="contact.visible ? 'active' : '', contact.filter ? '' : 'd-none'">
                            <div class="chat-information d-flex justify-content-between">
                                <img :src="contact.avatar">
                                <div class="p-2"><span style="font-weight: bold;">{{contact.name}}</span><br><span
                                        style="font-size: 12px;">{{contact.messages[contact.messages.length - 1].message}}</span></div>
                                <div class="ms-auto p-2 mt-2" style="font-size: 11px;">
                                    {{contact.messages[contact.messages.length - 1].date}}</div>
                            </div>
                            <div style="border: 1px solid #f5f5f5;"></div>
                        </div> <!-- end contact-item -->
                    </div> <!-- end contacts-list -->
                </div> <!-- end sidebar -->
                <div class="chat">
                    <div class="chat-content" v-for="(contact,i) in contacts" :key="i" :class="!contact.visible ? 'd-none' : ''">
                        <div class="topbar">
                            <div class="user-account d-flex justify-content-between p-3" style="background-color: #eaeaea;">
                                <div class="user-information">
                                    <img :src="contact.avatar" alt="">
                                    <span style="font-weight: bold;">{{contact.name}}</span>
                                </div>
                                <div class="user-settings d-flex align-items-center">
                                    <a href="#"><i class="fa-solid fa-search user-icons m-2" style="color: grey;"></i></a>
                                    <a href="#"><i class="fa-solid fa-paperclip user-icons m-2"
                                        style="color: grey;"></i></a>
                                    <a href="#"><i class="fa-solid fa-ellipsis-vertical user-icons m-2"
                                        style="color: grey;"></i></a>
                                </div>
                            </div>
                        </div> <!-- end topbar-chat -->
                        <div class="chat-container">
                            <div class="message-container p-5 d-flex flex-column">
                                <template v-if="contact.visible">
                                    <div class="message" v-for="(msg,k) in contact.messages" :key="k">
                                        <div class="sent p-3 m-2" v-if="msg.status === 'sent'">
                                            <span>{{msg.message}}</span>
                                            <span class="time">{{msg.date}}</span>
                                        </div>
                                        <div class="received p-3 m-2" v-if="msg.status === 'received'">
                                            <span>{{msg.message}}</span>
                                            <span class="time">{{msg.date}}</span>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div> <!-- end chat-container -->
                    </div> <!-- end chat-content -->
                    <div class="footer-chat">
                        <div class="message_form lightGray">
                            <div class="emojy userIcons">
                                <a href="#">
                                    <i class="fa-regular fa-face-smile"></i>
                                </a>
                            </div>
                            <input type="text" name="" id="" placeholder="Scrivi un messaggio" v-model="messaggio" @keyup.enter="invia(messaggio)">
                            <div class="userIcons">
                                <a href="#">
                                    <i class="fa-solid fa-microphone"></i>
                                </a>
                            </div>
                        </div>
                    </div> <!-- end footer-chat -->
                </div> <!-- end chat -->
            </div> <!--end container -->
        </div> <!--end app -->
    </main>
    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>

</html>